<%= form_with(model: applicant, class: "row g-3") do |form| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
        <% applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-auto">
    <%= form.label "Nome", class: "form-label", for: "name" %>
    <%= form.text_field :name, class: "form-control", id: "name" %>
  </div>

  <div class="col-auto">
    <%= form.label "Email", class: "form-label", for: "email" %>
    <%= form.text_field :email, class: "form-control", id: "email" %>
  </div>
  
  <div class="col-auto">
    <%= form.label "currículo", for: "curriculum", class: "form-label" %>
    <%= form.file_field :curriculum, class: "form-control", id: "curriculum" %>
  </div>

  <div class="visually-hidden">
    <%= form.label "Vaga", for: "vacancy" %>
    <%= form.text_field :vacancy_id %>
  </div>

  <div class="col-auto mb-4 mt-5">
    <%= form.submit "Candidatar-me", class: "btn btn-danger bg-site-red" %>
  </div>
<% end %>