<div class='container'>
  <h1 class='mb-5'><%= @vacancy.title %></h1>

  <table class="table">
    <thead class='table-active th-text-color'>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th class='text-center'>Enviado em</th>
        <th class='text-center'>Ações</th>
      </tr>
    </thead>

    <tbody class='text-secondary'>
      <% @applicants.each do |applicant| %>
        <tr>
          <td class="align-middle"><%= applicant.name %></td>
          <td class="align-middle"><%= applicant.email %></td>
          <td class="align-middle text-center"><%= applicant.created_at.strftime("%d/%m/%Y") %></td>
          <td class="align-middle text-center">
            <a href='<%= rails_blob_path(applicant.curriculum) if applicant.curriculum.attached? %>' target="_blank" class="text-secondary text-decoration-none" aria-label="Left Align">
              <i class="fas fa-file-download fa-fw"></i>Baixar
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
      <div class="mx-auto mt-5">
      <%= paginate @applicants %>
    </div>
</div>