<div class='container'>
  <h1 class='mb-5'>Anúncios</h1>

  <table class="table">
    <thead class='table-active th-text-color'>
      <tr>
        <th>Anúncio</th>
        <th>Criação</th>
        <th>Candidatos</th>
        <th colspan="2"> Ações</th>
      </tr>
    </thead>

    <tbody class='text-secondary'>
      <% @vacancies.each do |vacancy| %>
        <tr>
          <td class="align-middle"><%= vacancy.title %></td>
          <td class="align-middle"><%= vacancy.created_at.strftime("%d/%m/%Y") %></td>
          <td class="align-middle"><%= vacancy.applicants.count %></td>
          <td class="align-middle">
            <%= link_to edit_vacancy_path(vacancy), class: "text-secondary text-decoration-none", style: "margin-right: 5px" do %>
              <i class="far fa-edit"></i>Editar
            <% end %>
            <a href='/vacancies/<%= vacancy.id %>/applicants' class="text-secondary text-decoration-none" aria-label="Left Align">
              <i class="far fa-user"></i>Candidatos
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex">
    <div class="mx-auto mt-5">
      <%= paginate @vacancies %>
    </div>
  </div>
</div>