<div class='container'>
  <div class="row mb-5">
    <div class="col-lg-10">
      <h1 class='mb-4'><%= @vacancy.title %></h1>
      <p class='text-secondary'><%= @vacancy.description %></p>
      <p class='text-secondary'>
        <%= @vacancy.location %>
      </p>
      <h3 class='mt-4 mb-4'>Requisitos</h3>
      <p class='text-secondary'><%= @vacancy.requirements %></p>
      <h3 class='mt-4'>Salário</h3>
      <p class='text-secondary'><%= @vacancy.salary %></p>
      <h3 class='mt-4'>Currículo</h3>
      <%= render partial: "applicants/form", locals: { applicant: @applicant || Applicant.new(vacancy_id: @vacancy.id) } %>
      <hr class='mt-5 mb-5'>
      <h1 class='mt-4 mb-4'>Empresa</h1>
      <h3 class='mt-4 mb-2'><%= @vacancy.company.name %></h3>
      <p class='text-secondary'><%= @vacancy.company.description %></p>
    </div>
  </div>
</div>